body {
	margin: 0 auto;
}

.link-menu{
    background-color: transparent;
    border: 0;
    color: #ebebeb;
    font-size: 18px;
}

.link-menu:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    color: #d3d3d3;
    background-color: #d3d3d3;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.link-menu:hover::before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.link-menu:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color: none;
}

.container-meio {
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.conteudo {
	width: 70%;
	text-align:center;
}

.conteudo-form {
	width: 70%;
}

.conteudo-table {
	width: 100%;
}

.separador{
	width: 100%;
	height: 60px;
}
.icon-links{
	margin-left: 10px;
}

form button{
	width: 100%;
}

.separador-hor{
    width: 10px;
}

.bg-menu{
    background-image: linear-gradient(to bottom right, #363636, #4F4F4F);
    box-shadow: 2px 3px 5px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 3px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px -4px rgba(0,0,0,0.75);
}

h1{
    color: #F5F5F5;
    font-weight: 100;
}

strong{
    font-weight: 700;
}

.footer-min{
    background-image: linear-gradient(to bottom right, #363636, #4F4F4F);
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
    display: flex;
}

.footer{
	margin-top: 150px;
	background-image: linear-gradient(to bottom right, #363636, #4F4F4F);
    width: 100%;
    height: 40px;
    bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
    display: flex;
}

.nav-link{
    color:#F5F5F5!important;
    position: relative;
    text-decoration: none;
}

.nav-link:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    color: #646060;
    background-color: #b9b9b9;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover::before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}